<!-- About Section -->
<section id="detailESE">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">ESE 2026</h2>
                <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant
                    de la cybersécurité.</p>
                <p class="large text-muted">L'ESE revient cette année pour une nouvelle édition le samedi 30 mai 2026 !</p>
                <br/>
                <p class="large text-muted">En parallèle, l'<a class="page-scroll" href="#esekids">ESE4Kids</a> permet aux plus jeunes de s'initier au Numérique.<br/>
                    Cette année, l'ESE4Kids propose une série de 4 ateliers à destination des 8-18 ans.</p>
                <br/>
                    <p class="large text-muted"><strong>Lieu</strong>&nbsp;: ESIEA, 4 allée Katherine Johnson, 94200 Ivry-sur-Seine<br/>
                    <strong>Métro</strong>&nbsp;: Mairie d'Ivry (ligne 7) &mdash; <strong>RER</strong>&nbsp;: Ivry-sur-Seine (ligne C)</p>
                
                <p class="large text-muted">
                    <br/> La billetterie est ouverte, <a
                        href="https://www.billetweb.fr/ese-2026">inscrivez-vous dès maintenant</a> !<br/> Suivez-nous sur <a
                        href="https://www.linkedin.com/company/esiea-secure-edition/">LinkedIn</a> pour plus
                    d'informations.</p>
                    <br/>

                    <p class="large text-muted">Nous remercions nos partenaires les <a href="https://boutique.ed-diamond.com/7_misc">Éditions Diamond</a>.</p>
            </div>
        </div>
    </div>
</section>
