<!-- About Section -->
    <section id="detailESE">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ESE 2025</h2>
                    <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant de la cybersécurité.</p>
                    <p class="large text-muted">L'ESE revient pour une nouvelle édition le 17 mai 2025 ! Inscrivez-vous dès maintenant <a href=#inscription>ici</a> !</p>
                    <p class="large text-muted">Le <a href=#programme>programme</a> est maintenant en ligne, découvrez les conférences et les participants ! Le détail des heures de passage sera communiqué plus tard... restez alertes !</p>
                    <p class="large text-muted">Cette année un nouvel événement revient lors l'ESE : le Hacks4kids ! Il sera ouvert aux enfants à partir de 9 ans, et le nombre de places est limité.</p>
                </div>
            </div>
        </div>
    </section>
