<!-- About Section -->
<section id="detailESE">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">ESE 2026</h2>
                <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant
                    de la cybersécurité.</p>
                <p class="large text-muted">L'ESE revient pour une nouvelle édition le 30 mai 2026 ! La billetterie est ouverte, <a
                        href="https://www.billetweb.fr/ese-2026">inscrivez-vous dès maintenant</a> ! Suivez-nous sur <a
                        href="https://www.linkedin.com/company/esiea-secure-edition/">LinkedIn</a> pour plus
                    d'informations.</p>
                <p class="large text-muted">L'<a class="page-scroll" href="#esekids">ESE Kid</a> s'enrichit cette année avec trois nouveaux ateliers autour du hacking, de la programmation et de la cryptographie, en plus du CTF déjà proposé l'an dernier.</p>
            </div>
        </div>
    </div>
</section>
