<!-- About Section -->
    <section id="edition10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ESE 2024</h2>
                    <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant de la cybersécurité.</p>
                    <p class="large text-muted">C'est fini pour cette année, on se retrouve l'année prochaine !</p>
                    <img id="summer-vac" src="img/Summer.png" class="img-responsive img-centered" alt="Mer à Saint Malo">
                </div>
            </div>
        </div>
    </section>
