<!-- About Section -->
    <section id="edition10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ESE 2025</h2>
                    <p class="large text-muted">Depuis 2013, l'ESIEA Secure Edition est une journée de conférences traitant de la cybersécurité.</p>
                    <p class="large text-muted">L'ESE revient pour une nouvelle édition le 17 mai 2025 ! Bloquez vos calendriez, la billetterie ouvrira bientôt !</p>
                </div>
            </div>
        </div>
    </section>
