<section id="esekids">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">ESE Kid</h2><br/>
            <p>Cette année, l'ESE propose quatre ateliers à destination des jeunes à partir de 9 ans, autour de la sécurité informatique, de la programmation et de la cryptographie.</p>

            <h3>🔧 Atelier hacking &mdash; ESIEATOY</h3>
            <p>Initiation au hacking éthique sur l'ESIEATOY, une carte Arduino équipée de LEDs. Des défis pour comprendre les bases de la sécurité informatique en pratique.</p>

            <h3>💻 Atelier programmation &mdash; ESIEATOY</h3>
            <p>Initiation à la programmation sur l'ESIEATOY, une carte Arduino équipée de LEDs. De la prise en main à l'écriture des premières instructions.</p>

            <h3>🚩 CTF &laquo;&nbsp;J'apprends à hacker à 9 ans&nbsp;&raquo;</h3>
            <p>De retour pour cette édition&nbsp;! Ce CTF s'appuie sur le livre <a href="https://www.dunod.com/sciences-techniques/j-apprends-hacker-partir-9-ans-30-defis-pour-decouvrir-cybersecurite-et-dejouer">J'apprends à Hacker à partir de 9 ans</a> de Sara Sellos et Nicolas Fouville. Merci aux auteurs pour leur soutien.</p>

            <h3>🔐 La boîte à crypto &mdash; proposé par l'ARCSI</h3>
            <p>Atelier proposé par l'<a href="https://www.arcsi.fr/">ARCSI</a> (Association des Réservistes du Chiffre et de la Sécurité de l'Information) pour découvrir les bases de la cryptographie.</p>

        </div>
    </div>
</section>
