<section id="esekids">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">ESE-Kids</h2></br>
            <p>L'ESE-Kids revient pour cette nouvelle édition ! Il sera ouvert aux enfants de 9 à 14 ans avec deux sessions de 90 minutes le matin et l'après-midi.</p>

            <p>Les ateliers se baseront sur le livre <a href="https://www.dunod.com/sciences-techniques/j-apprends-hacker-partir-9-ans-30-defis-pour-decouvrir-cybersecurite-et-dejouer">J'apprends à Hacker</a>, de Sara Sellos et Nicolas Fouville. Nous remercions chaleureusement les auteurs qui nous permettent de réaliser ces ateliers.</p>

            <p>Les inscriptions sont ouvertes pour les enfants : un nouveau ticket est disponible sur la <a href="https://www.billetweb.fr/ese-2025">billetterie</a>, alors n'attendez plus !</p>

        </div>
    </div>
</section>
