<section id="esekids">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">ESE-Kids</h2></br>
            <p>L'ESE-Kids revient pour cette nouvelle édition ! Il sera ouvert aux enfants de 9 à 16 ans avec une session de 90 minutes, de 14h à 15h30.</p>

            <p>L'atelier se basera sur le livre <a href="https://www.dunod.com/sciences-techniques/j-apprends-hacker-partir-9-ans-30-defis-pour-decouvrir-cybersecurite-et-dejouer">J'apprends à Hacker à partir de 9 ans</a>, de Sara Sellos et Nicolas Fouville. Nous remercions chaleureusement les auteurs qui nous permettent de réaliser cet atelier.</p>

            <p>Les inscriptions sont ouvertes pour les enfants : un nouveau ticket est disponible sur la <a href="https://www.billetweb.fr/ese-2025">billetterie</a>, alors n'attendez plus !</p>

        </div>
    </div>
</section>
