<section id="historique">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Historique</h2>
                <p class="large text-muted">Depuis 2013, la journée ESIEA Secure Edition permet d'appréhender le monde de la cybersécurité à travers des présentations sur les différentes facettes de ce domaine. Au fil des années, les conférences ont couvert un large spectre : reverse engineering, analyse de malware, DFIR, cryptographie, sécurité offensive, threat intelligence, blockchain, sécurité des infrastructures critiques, IA appliquée à la cyberdéfense, ou encore surveillance numérique.</p>
            </div>
        </div>
    </div>
</section>
