<section id="inscription">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Inscription</h2>

                <p class="large text-muted">
                   Obtenez dès maintenant votre place pour le samedi 25 mai !
                </p>
                    <div class="large text-muted"><a href="https://www.billetweb.fr/ese-2025">Inscrivez-vous</a></div>
            </div>
        </div>
    </div>
</section>
