<section id="planning">
    <div class="container">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Programme</h2>
          <table>
              <thead>
                  <tr class="dark">
                    <th style="width: 25%;">Horaire</th>
                    <th style="width: 50%;">Conférence</th>
                    <th style="width: 25%;">Orateur.ice</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="planning">
                    <td>10H00-10H05</td>
                    <td>Ouverture de l'ESE 2025</td>
                    <td>Sébastien Larinier & Vincent Guyot</td>
                  </tr>
                  <tr class="planning">
                    <td>10H05-10H45</td>
                    <td><a class="table" href="#conf1">GoResolver : Similarités dans les binaires en Go</a></td>
                    <td>Killian Rimbaud</td>
                  </tr>
                  <tr class="planning">
                    <td>10H45-11H25</td>
                    <td><a class="table" href="#conf2">Binsec (CEA-List)</a></td>
                    <td>Frédéric Recoules et Yanis Sellami</td>
                  </tr>
                  <tr class="planning">
                    <td>11H25-11H40</td>
                    <td>&#9749; Pause café &#9749;</td>
                    <td></td>
                  </tr>
                  <tr class="planning">
                    <td>11H40-12H20</td>
                    <td><a class="table" href="#conf3">Exploitation d'un outil de simulation de brèches et d'attaques pour l'évaluation continue de la cybersûreté</a></td>
                    <td>Alix Galant</td>
                  </tr>
                  <tr class="planning">
                    <td>12H20-13H00</td>
                    <td><a class="table" href="#conf4">Trying Gateway Bugs : Breaking industrial protocol translation devices before the research begins</a></td>
                    <td>Claire Vacherot</td>
                  </tr>
                  <tr class="dark">
                    <td>13H00-14H15</td>
                    <td>&#127869; Pause déjeuner &#127869;</td>
                    <td></td>
                  </tr>
                  <tr class="planning">
                    <td>14H15-14H55</td>
                    <td><a class="table" href="#conf5">Gracieuse participation de Lazarus à l'open source</a></td>
                    <td>Alexandra Toussaint et Yassine Dgaygui</td>
                  </tr>
                  <tr class="planning">
                    <td>14H55-15H35</td>
                    <td><a class="table" href="#conf6">Au coeur du réseau de faux employés nord-coréens : Historique et détection</a></td>
                    <td>Antoine Vianey-Liaud</td>
                  </tr>
                  <tr class="planning">
                    <td>15H35-15H50</td>
                    <td>&#9749; Pause café &#9749;</td>
                    <td></td>
                  </tr>
                  <tr class="planning">
                    <td>15H50-16H30</td>
                    <td><a class="table" href="#conf7">Rétro-ingénierie assisté par LLM et confidentialité</a></td>
                    <td>Mathieu Renard</td>
                  </tr>
                  <tr class="planning">
                    <td>16H30-17H10</td>
                    <td><a class="table" href="#conf8">Backdoor dans les messageries sécurisées bout en bout, en voilà une mauvaise idée !</a></td>
                    <td>Sébastien Larinier</td>
                  </tr>
                  <tr class="planning">
                    <td>17H10-17H15</td>
                    <td>Clôture de l'ESE 2025</td>
                    <td>Sébastien Larinier & Vincent Guyot</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
