<section id="programme">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Programme</h2></br>
            
            <div id="conf1">
                <h3>Au coeur du réseau de faux employés nord-coréens : Historique et détection</h3>
                <p>Par Antoine Vianey-Liaud</p>
                <p>Nous mettrons la lumière sur un réseau d'individus nord-coréens qui parviennent à se faire embaucher dans des postes en télétravail pour plusieurs entreprises en parallèle. Le but de l'opération est de transférer les salaires perçus en Corée du Nord pour financer le régime. Nous présenterons leur modus operandi et les méthodes utilisées pour les débusquer</p>
            </br>
            </div>

            <div id="conf2">
                <h3>Binsec (CEA-List)</h3>
                <p>Par Frédéric Recoules et Yanis Sellami</p>
            </br>
            </div>

            <div id="conf3">
                <h3>Exploitation d'un outil de simulation de brèches et d'attaques pour l'évaluation continue de la cybersûreté</h3>
                <p>Par Alix Galant</p>
            </br>
            </div>

            <div id="conf4">
                <h3>Gracieuse participation de Lazarus à l'open source</h3>
                <p>Par Alexandra Toussaint et Yassine Dgaygui</p>
            </br>
            </div>

            <div id="conf5">
                <h3>Rétro-ingénierie assisté par LLM et confidentialité</h3>
                <p>Par Mathieu Renard</p>
                <p>Les modèles de langage étentu (LLM) révolutionnent les méthodes de rétro-ingénierie. Cette présentation propose une intégration locale avec IDA Pro, à travers un plugin open source, en mettant l'accent sur la confidentialité des données, la stabilité de l'environnement et la reproductibilité des résultats.</p>
            </br>
            </div>

            <div id="conf6">
                <h3>GoResolver : Similarités dans les binaires en Go</h3>
                <p>Par Killian Rimbaud</p>
            </br>
            </div>

            <div id="conf7">
                <h3>Trying Gateway Bugs : Breaking industrial protocol translation devices before the research begins</h3>
                <p>Par Claire Vacherot</p>
            </br>
            </div>

            <div id="conf8">
                <h3>Backdoor dans les messageries sécurisées bout en bout, en voilà une mauvaise idée !</h3>
                <p>Par Sébastien Larinier</p>
            </br>
            </div>
        </div>
    </div>
</section>
