<section id="speakers">
    <div class="container">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Programme</h2>
          <table>
              <thead>
                  <tr class="dark">
                    <th style="width: 25%;">Horaire</th>
                    <th style="width: 50%;">Conférence</th>
                    <th style="width: 25%;">Orateur</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="speakers">
                    <td>10H00-10H05</td>
                    <td>Ouverture de l'ESE 2024</td>
                    <td>Sébastien Larinier & Vincent Guyot</td>
                  </tr>
                  <tr id="speakers">
                    <td>10H05-10H45</td>
                    <td><a class="table" href="#conf1">Comment réaliser un Process Hollowing complet</a></td>
                    <td>Kevin Pham-Le</td>
                  </tr>
                  <tr id="speakers">
                    <td>10H45-11H25</td>
                    <td><a class="table" href="#conf2">How to attack blockchains</a></td>
                    <td>Patrick Ventuzelo</td>
                  </tr>
                  <tr id="speakers">
                    <td>11H25-11H45</td>
                    <td>&#9749; Pause café &#9749;</td>
                    <td></td>
                  </tr>
                  <tr id="speakers">
                    <td>11H45-12H25</td>
                    <td><a class="table" href="#conf3">Numbat/Pyrrha: Naviguez facilement dans les binaires de votre système</a></td>
                    <td>Eloise Brocas</td>
                  </tr>
                  <tr id="speakers">
                    <td>12H25-13H05</td>
                    <td><a class="table" href="#conf4">Sortir du dilemme de l'attaque numérique: la théorie des jeux au chevet du décideur</a></td>
                    <td>Anthony Nams</td>
                  </tr>
                  <tr class="dark">
                    <td>13H05-14H00</td>
                    <td>&#127869; Pause déjeuner &#127869;</td>
                    <td></td>
                  </tr>
                  <tr id="speakers">
                    <td>14H00-14H40</td>
                    <td><a class="table" href="#conf5">RedCells: Finally give your BlueTeam that incident they've been yearning for</a></td>
                    <td>Thomas Chopitea</td>
                  </tr>
                  <tr id="speakers">
                    <td>14H40-15H20</td>
                    <td><a class="table" href="#conf6">Yeti, Intelligence DFIR</a></td>
                    <td>Sébastien Larinier</td>
                  </tr>
                  <tr id="speakers">
                    <td>15H20-15H40</td>
                    <td>&#9749; Pause café &#9749;</td>
                    <td></td>
                  </tr>
                  <tr id="speakers">
                    <td>15H40-16H20</td>
                    <td><a class="table" href="#conf7">La chasse à Tinynuke</a></td>
                    <td>Thibaud Binetruy</td>
                  </tr>
                  <tr id="speakers">
                    <td>16H20-17H00</td>
                    <td><a class="table" href="#conf8">Coupe du Monde 2022 : Ehteraz, entre précaution et surveillance</a></td>
                    <td>Matthieu Herbette</td>
                  </tr>
                  <tr id="speakers">
                    <td>17H00-17H05</td>
                    <td>Clôture de l'ESE 2024</td>
                    <td>Sébastien Larinier & Vincent Guyot</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
