<section id="speakers">
    <div class="container">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Programme</h2>
            <table>
                <thead>
                    <tr class="dark">
                      <th style="width: 25%;">Horaire</th>
                      <th style="width: 50%;">Conférence</th>
                      <th style="width: 25%;">Orateur</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>10H00-10H05</td>
                      <td>Ouverture de l'ESE 2024</td>
                      <td>Sébastien Larinier & Vincent Guyot</td>
                    </tr>
                    <tr>
                      <td>10H05-10H45</td>
                      <td><strong>Comment réaliser un Process Hollowing complet</strong></td>
                      <td>Kevin Pham-Le</td>
                    </tr>
                    <tr>
                      <td>10H45-11H25</td>
                      <td><strong>Sécurité de la blockchain</strong></td>
                      <td>Patrick Ventuzelo</td>
                    </tr>
                    <tr>
                      <td>11H25-11H45</td>
                      <td>&#9749; Pause café &#9749;</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>11H45-12H25</td>
                      <td><strong>Numbat/Pyrat: Naviguez facilement dans les binaires de votre système</strong></td>
                      <td>Eloise Brocas</td>
                    </tr>
                    <tr>
                      <td>12H25-13H05</td>
                      <td><strong>Sortir du dilemme de l'attaque numérique: la théorie des jeux au chevet du décideur</strong></td>
                      <td>Anthony Nams</td>
                    </tr>
                    <tr class="dark">
                      <td>13H05-14H00</td>
                      <td>&#127869; Pause déjeuner &#127869;</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>14H00-14H40</td>
                      <td><strong>RedCells: Finally give your BlueTeam that incident they've been yearning for</strong></td>
                      <td>Thomas Chopitea</td>
                    </tr>
                    <tr>
                      <td>14H40-15H20</td>
                      <td><strong>Yeti, Intelligence DFIR</strong></td>
                      <td>Sébastien Larinier</td>
                    </tr>
                    <tr>
                      <td>15H20-15H40</td>
                      <td>&#9749; Pause café &#9749;</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>15H40-16H20</td>
                      <td><strong>La chasse à Tinyuke</strong></td>
                      <td>Thibault Binetruy</td>
                    </tr>
                    <tr>
                      <td>16H20-17H00</td>
                      <td><strong>Coupe du Monde 2022 : Ehteraz, entre précaution et surveillance</strong></td>
                      <td>Matthieu Herbette</td>
                    </tr>
                    <tr>
                      <td>17H00-17H05</td>
                      <td>Clôture de l'ESE 2024</td>
                      <td>Sébastien Larinier & Vincent Guyot</td>
                    </tr>
                  </tbody>
              </table>

        </div>
    </div>

</section>
