<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">L'équipe d'étudiants volontaires</h2>
                <table>
                    <tr id="team">
                        <td>&#128100; | Al-Housseiny W.</td>
                        <td>&#128100; | Anna O.</td>
                        <td>&#128100; | Asmaa O.</td>
                        <td>&#128100; | Gautier G.</td>
                        <td>&#128100; | Hajar A.</td>
                        <td>&#128100; | Kaoutar A.</td>
                        <td>&#128100; | Rida V.</td>
                        <td>&#128100; | Victor F.</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
