table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* Centrer le contenu */
  }

  .dark {
    background-color: rgba(0, 0, 0, 0.1);
  }

  tr:hover#speakers td {
    background-color: rgba(0, 0, 0, 0.1); /* Opacité de 90% */
  }
  
  section#speakers {
    background-color: rgb(225, 233, 246);
  }

  @media only screen and (max-width: 600px) {
    tr#team {
        display: flex;
        flex-direction: column;
    }
  }
